.content_container {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    .back_button {
      width: 48px;
      height: 48px;
    }
  }
}
