@import "./palette.scss";

.main_container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  .rating_container {
    display: flex;
    gap: 4rem;

    .button {
      padding: 0.2rem 4rem;
      border-radius: 6px;
      transition: 0.2s all ease-in-out;

      &:hover {
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
      }
    }

    .create_button {
      @extend .button;
      background-color: $secondary;
      color: $primary;
      border: 2px solid red;
    }

    .view_button {
      @extend .button;
      background-color: $primary;
      color: $secondary;
    }
  }
}
